

/*  RESPONSIVE WEB DESIGN (RWD) Style Sheet

/*  This style sheet introduces the use of fluid grids. Columns are defined (12) and make up a 100% width of viewport  */
/*  Div rows are then used that parent the columns and determine how many columns will exist on that row */

/*  Comments are written directly above the CSS that is written. In Some cases of nested styling, comments are beside */




/*  START Fluid grid styles (RESPONSIVE). Applicable to all pages   */


/*  Starting Point 100% column width:  */
/*  Always design for Mobile first  */

[class*="col-"] {
  width: 100%;
    
}

/*  Media queries used to establish Responsive Design*/

/*  For EXTRA SMALL MOBILE PHONES:  */
/*  Media query used to set a breakpoint at 640px  */
/*  Any device that falls into this screen category, columns will display as below width percentages  */
/*  Establishes a grid system with 12 seperate columns that when combined make 100% of the viewport*/

@media only screen and (max-width: 640px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

/*  For MOBILE PHONES:  */
/*  Media query used to set a breakpoint between at 641px  */
/*  Any device that falls into this screen category, columns will display as below width percentages  */
/*  Establishes a grid system with 12 seperate columns that when combined make 100% of the viewport*/

@media only screen and (min-width: 641px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

/*  For TABLETS AND MEDIUM SIZED DEVICES:  */
/*  Media query used to set a breakpoint at 768px  */
/*  Any device that falls into this screen category, columns will display as below width percentages  */
/*  Establishes a grid system with 12 seperate columns that when combined make 100% of the viewport*/

@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
    
    .col-m-4-a {
    width: 31%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
    
    .col-m-8-a {
    width: 69%;
  }
    
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/*  For DESKTOPS:  */
/*  Media query used to set a breakpoint at 992px  */
/*  Any device that falls into this screen category, columns will display as below width percentages  */
/*  Establishes a grid system with 12 seperate columns that when combined make 100% of the viewport*/

@media only screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }
}

*  For DESKTOPS AND LARGE DEVICES:  */
/*  Media query used to set a breakpoint at 1200px  */
/*  Any device that falls into this screen category, columns will display as below width percentages  */
/*  Establishes a grid system with 12 seperate columns that when combined make 100% of the viewport*/

@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

/*  For XX Large DESKTOPS AND UHD DISPLAYS:  */
/*  Media query used to set a breakpoint at 1920px  */
/*  Any device that falls into this screen category, columns will display as below width percentages  */
/*  Establishes a grid system with 12 seperate columns that when combined make 100% of the viewport*/

@media only screen and (min-width: 1920px) {
  .col-xxl-1 {
    width: 8.33%;
  }
  .col-xxl-2 {
    width: 16.66%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.33%;
  }
  .col-xxl-5 {
    width: 41.66%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.33%;
  }
  .col-xxl-8 {
    width: 66.66%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.33%;
  }
  .col-xxl-11 {
    width: 91.66%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}


/*  Adds a clear element property ::after all instances of classes of ".row"  */
/*  Allowing the next row to fall directly underneath the last  */

.row::after {
  content: "";
  clear: both;
  display: table;
    
}
/* Each column is set with the same attributes as one another  */

[class*="col-"] {
  float: left;
  padding: 0 5px 12.5% 5px;
}


@media only screen and (min-width: 992px) {
    [class*="col-"] {
  float: left;
  padding: 0 5px 100px 5px;
    }
}


/*  END Fluid grid styles   */


